{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Créer un compte</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Créer'}) }}

    <a href="{{ path('user_index') }}">Revenir à la liste</a>
{% endblock %}
